/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/.gradle/checksums/checksums.lock
/build/classes/java/main/me/kolterdyx/neat/genome/Connection.class
/.gradle/7.1/dependencies-accessors/dependencies-accessors.lock
/.gradle/7.2/dependencies-accessors/dependencies-accessors.lock
/.gradle/7.1/executionHistory/executionHistory.bin
/.gradle/7.2/executionHistory/executionHistory.bin
/.gradle/7.1/executionHistory/executionHistory.lock
/.gradle/7.2/executionHistory/executionHistory.lock
/.gradle/7.1/fileHashes/fileHashes.bin
/.gradle/7.2/fileHashes/fileHashes.bin
/.gradle/7.1/fileHashes/fileHashes.lock
/.gradle/7.2/fileHashes/fileHashes.lock
/.gradle/7.1/dependencies-accessors/gc.properties
/.gradle/7.1/gc.properties
/.gradle/7.2/dependencies-accessors/gc.properties
/.gradle/7.2/gc.properties
/.gradle/vcs-1/gc.properties
/build/classes/java/main/me/kolterdyx/neat/genome/Gene.class
/build/classes/java/main/me/kolterdyx/neat/utils/GeneKey.class
/build/classes/java/main/me/kolterdyx/neat/utils/InnovationRegistry.class
/.gradle/7.1/fileChanges/last-build.bin
/.gradle/7.2/fileChanges/last-build.bin
/build/tmp/jar/MANIFEST.MF
/.gradle/checksums/md5-checksums.bin
/build/classes/java/main/me/kolterdyx/neat/Neat.class
/build/libs/Neat-1.0-SNAPSHOT.jar
/build/classes/java/main/me/kolterdyx/neat/Network.class
/build/classes/java/main/me/kolterdyx/neat/genome/Node.class
/.gradle/buildOutputCleanup/outputFiles.bin
/build/tmp/compileJava/previous-compilation-data.bin
/.gradle/7.2/fileHashes/resourceHashesCache.bin
/build/classes/java/main/me/kolterdyx/neat/utils/Serializer.class
/.gradle/checksums/sha1-checksums.bin
/build/classes/java/main/me/kolterdyx/neat/utils/Speciation.class
/.idea/workspace.xml
